.fundoLogin {
  background-image: url('https://i.ibb.co/cLCTG4v/login.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}


