.fundoLogin {
  background-image: url('https://i.ibb.co/YTQTnmK/banner-login.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}